@import "tailwindcss";
@plugin './hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
    --bg-color: #0d1b2a;
    --bg-surface-color: #1b263b;
    --red-soft: #e76f51;
    --green-soft: #2a9d8f;
}