@layer base, components, utilities, overrides;

/* Fonts now loaded via astro-font in BaseLayout for better performance */
@import "tailwindcss" layer(utilities);
@plugin './hero.ts';
@plugin "@tailwindcss/typography";


/* Note: You may need to change the path to fit your project structure */
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@layer overrides {
    :root {
        --bg-color: #0d1b2a;
        --bg-surface-color: #1b263b;
        --red-soft: #e76f51;
        --green-soft: #2a9d8f;
    }

    #rstarted-data::before {
        content: attr(data-elapsed);
    }

    #rstarted-wrapper {
        background-color: var(--bg-surface-color);
    }

    #rstarted-wrapper[data-state="waiting"] {
        background-color: var(--red-soft);
    }

    #rstarted-wrapper[data-state="green"] {
        background-color: var(--green-soft);
    }

    #rstarted-wrapper[data-state="complete"] {
        background-color: var(--green-soft);
    }


}

@utility atkinson-hyperlegible-regular {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@utility atkinson-hyperlegible-bold {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 700;
    font-style: normal;
}

@utility jetbrains-mono {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

@utility jetbrains-mono-bold {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

@utility shadow-glow {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}